/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

html {
  color: #000;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

img, video {
  max-width: 100%; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Stylin'
   ========================================================================== */
body {
  background: #40423f;
  padding: 0 3em; }

.pageOuter {
  background: #40423f;
  display: flex;
  flex-direction: column;
  height: 100%; }

.pageInner {
  background: #eeeeee url(../img/dusty.jpg) bottom right no-repeat;
  background-size: 100%;
  height: 100%;
  flex: 1;
  padding: 2em; }
  .pageInner h1 {
    margin: 0;
    font-size: 6em;
    line-height: 0.8;
    letter-spacing: -.07em;
    color: #40423f;
    height: 2em; }
  .pageInner .workWrapper {
    display: flex;
    flex-direction: row; }
  .pageInner .workItem {
    color: #40423f;
    background: rgba(238, 238, 238, 0.8);
    justify-content: flex-start;
    border-radius: 4px; }
  .pageInner .categories {
    width: 6em;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .pageInner .categories li {
      opacity: 0.6; }
  .pageInner .description {
    width: 20em;
    margin: 0; }

header {
  display: flex;
  justify-content: space-between; }

header, footer {
  height: 3em; }

.siteTitle {
  margin: auto 0;
  color: #2aba76;
  display: inline-block; }

.primaryNav {
  margin: auto 0; }

.primaryNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .primaryNav ul li {
    display: inline-block;
    color: #eeeeee;
    padding-left: 0.5em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
